
@model Negocio.Usuario


<link href="~/Content/EstiloPrincipal.css" rel="stylesheet" />
<div class="container">
    </br>
    <h3>Bienvenido/a @Model.Nombre con perfil de @Model.TipoPermisos </h3></br>
    

</div>



<div id="pantalla1">

    <img src="~/fonts/logo-footer.png" />

        <div class="navbar navbar-brand" style="width: 50px;">
      

                <div class="navbar-collapse collapse">
                    <ul class="nav nav-justified">

                        @foreach (Negocio.Menu item in Model.ListaMenu)
                        {
                            if (item.Activo)
                            {
                                <li><a href="../@item.Controlador/@item.Accion" class="bg-info">@item.Descripcion</a></li>
                            }

                        }

                    </ul>
                </div>
            
        </div>

      
</div>


